<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Styleguide Example</title>
  {% stylesheets 'bundles/kssbridge/css/*' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
  {% endstylesheets %}
</head>
<body>

  <header>
    Styleguide Example
  </header>

  <div id="wrapper">

    {% render url('kss_bridge_example_menu') %}

    {% block content %}{% endblock %}

  </div>

  {% javascripts '@KssBridgeBundle/Resources/public/js/*' %}
    <script src="{{ asset_url }}"></script>
  {% endjavascripts %}

</body>
</html>
