<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Styleguide Example</title>
  {% stylesheets 'bundles/scankss/css/*' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
  {% endstylesheets %}
</head>
<body>

  <header>
    Styleguide Example
  </header>

  <div id="wrapper">

    <nav role="main">
      <ul>
        <li><a href="{{ path('scan_kss_example_index') }}">Home</a></li>
        <li><a href="{{ path('scan_kss_example_styleguide') }}">Styleguide</a></li>
      </ul>
    </nav>

    {% block content %}{% endblock %}

  </div>

  {% javascripts '@ScanKssBundle/Resources/public/js/*' %}
    <script src="{{ asset_url }}"></script>
  {% endjavascripts %}

</body>
</html>
