{% extends 'KssBridgeBundle:Blocks:block.html.twig' %}

{% block styleguide_elements %}
    <div class="styleguide__element styleguide__element--modifier">
        {% if showNoModifier is not defined or showNoModifier %}
            {{  html|replace({'$modifierClass': ''})|raw  }}
        {% endif %}
        {% for modifier in section.modifiers %}
            {{ modifier.exampleHtml(html)|raw }}
        {% endfor %}
    </div>
{% endblock %}
